/* ==========================================================================
  Git & Github Resource by Daniel Arenas
 ============================================================================ */

/* Basic Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


/* Components
 ============================================================================ */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.wrapper--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section {
  margin-bottom: 4rem;
}

/* Section: Header
 ============================================================================ */

.header {
  background-color: #24292e;
  color: white;
  padding: 1rem 0;
}

.author {
  font-size: 2.5rem;
}

.logo {
  font-size: 6rem;
}

/* Section: Hero
 ============================================================================ */

.hero {
  background-image:  url('../images/hero-background.png');
  color: white;
  padding: 5rem 0;
}

.hero__details,
.hero__image-wrapper {
  width: 50%;
}

.hero__image {
  width: 100%;
  margin: 0 auto;
}

.title--primary {
  font-size: 4.5rem;
}

.hero__description {
  font-size: 2.5rem;
}


/* Section: Questions
 ============================================================================ */

.questions__title {
  font-size: 3.5rem;
  color: #0859b7;
}

.question {
  color: #0859b7;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
  display: inline-block;
}

.answer {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-bottom: 3rem;
  border-bottom: 2px solid #0859b7;
}

.questions__wrapper {
  margin: 4rem 0;
}


/* Section: Configure
============================================================================ */

.configure {
  background-color: #262b30;
  color: white;
  padding: 4rem 0;
}

.configure__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.configure__user,
.configure__email {
  font-size: 2rem;
}

.input {
  font-style: italic;
  font-weight: 300;
}


/* Section: Configure
============================================================================ */

.commands {
  background-color: #F9FAFA;
  padding: 4rem;
}

.commands__block {
  background-color: white;
  box-shadow: 5px 5px 20px #88888829;
  border-radius: 15px;
}

.commands__wrapper {
  padding: 3rem;
  border-radius: 5px;
}

.commands__wrapper:hover {
  background-color: rgba(8, 89, 183, 0.1);
}

.commands__title {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.command,
.commands__description {
  font-size: 1.8rem;
}

.command {
  font-weight: bold;
}
